---
// home 
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout
  title="Ariel Bosquez"
    description="Portafolio de Ariel Bosquez: análisis Blue Team, GRC, SOC y desarrollo Full Stack. Estudiante de Ingeniería en Ciberseguridad, INACAP Chile."
> 
  <div class="container">
    <Hero />
  </div>
</BaseLayout>
